<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencias</title>
</head>
<body>
    <h1>Lista de alumnos:</h1>
    <a th:href="@{'/alumno'}">Agregar alumno(s)</a>
    <table>
        <tr>
            <th>
                Apellido Paterno
            </th>
            <th>
                Apellido materno
            </th>
            <th>
                Nombre(s)
            </th>
        </tr>
        <tr th:each="alumno : ${alumnos}">
            <td th:text="${alumno.primerApellido}">primer apellido</td>
            <td th:text="${alumno.segundoApellido}">segundo apellido</td>
            <td th:text="${alumno.nombres}">nombres</td>
        </tr>
    </table>
</body>
</html>